*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p{
    color: white;
    background-color: red;
    margin: 10px;
}

.cinza{
    background-color: grey;
}

#verde{
    background-color: green;
}

ul > li + li{
    background-color: red;
    margin: 10px;
}

.box > form > input {
    background-color: aqua;
}

h1 + p {
    background-color: blueviolet; 
}

h1 ~ p{
    background-color: chocolate;                           
}