h1 {
    color: blue;
}

.container-1{
    background-color:rgb(214, 96, 119);
    border-style: solid;
    border: width 2px;
    background-color: black;
}

.container-2{
    background-color:rgb(214, 96, 119);
    border-style: solid;
    border-right-style: dashed;
    border-bottom-style: dotted;
    border-left-style: double;
    border: width 2px;
    border-color:black
}

.sobrenome{
    color: aliceblue;
}

